---

---

<section class="w-full flex flex-col">
  <div
    class="flex flex-col lg:flex-row justify-between items-center gap-4 lg:gap-0 w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 lg:py-7"
  >
    <div class="flex-shrink-0">
      <a href="/">
        <img
          src="hydrovision-baner.png"
          alt="HYDROVISION Logo"
          class="h-[80px] sm:h-[100px] lg:h-[150px]"
        />
      </a>
    </div>

    <div class="hidden md:flex justify-center flex-col">
      <div class="flex flex-row gap-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="icon icon-tabler icons-tabler-filled icon-tabler-phone"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M9 3a1 1 0 0 1 .877 .519l.051 .11l2 5a1 1 0 0 1 -.313 1.16l-.1 .068l-1.674 1.004l.063 .103a10 10 0 0 0 3.132 3.132l.102 .062l1.005 -1.672a1 1 0 0 1 1.113 -.453l.115 .039l5 2a1 1 0 0 1 .622 .807l.007 .121v4c0 1.657 -1.343 3 -3.06 2.998c-8.579 -.521 -15.418 -7.36 -15.94 -15.998a3 3 0 0 1 2.824 -2.995l.176 -.005h4z"
          ></path></svg
        >
        <p class="font-light text-[13px]">+51 915030965</p>
      </div>
    </div>

    <div class="hidden lg:flex flex-row justify-center gap-3">
      <div class="justify-center flex flex-col">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          class="iconify iconify--simple-icons"
          width="24"
          height="24"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M15.61 12c0 1.99-1.62 3.61-3.61 3.61S8.39 13.99 8.39 12S10.01 8.39 12 8.39s3.61 1.62 3.61 3.61M12 0C5.383 0 0 5.383 0 12s5.383 12 12 12c2.424 0 4.761-.722 6.76-2.087l.034-.024l-1.617-1.879l-.027.017A9.5 9.5 0 0 1 12 21.54c-5.26 0-9.54-4.28-9.54-9.54S6.74 2.46 12 2.46s9.54 4.28 9.54 9.54a9.6 9.6 0 0 1-.225 2.05c-.301 1.239-1.169 1.618-1.82 1.568c-.654-.053-1.42-.52-1.426-1.661V12A6.076 6.076 0 0 0 12 5.93A6.076 6.076 0 0 0 5.93 12A6.076 6.076 0 0 0 12 18.07a6.02 6.02 0 0 0 4.3-1.792a3.9 3.9 0 0 0 3.32 1.805c.874 0 1.74-.292 2.437-.821c.719-.547 1.256-1.336 1.553-2.285c.047-.154.135-.504.135-.507l.002-.013c.175-.76.253-1.52.253-2.457c0-6.617-5.383-12-12-12"
          ></path></svg
        >
      </div>

      <div class="flex flex-col justify-center">
        <p class="font-light text-[13px]">hydrpvision@gmail.com</p>
        <p class="font-light text-[13px]">fabiolopetapara@gmail.com</p>
      </div>
    </div>

    <div class="hidden lg:flex flex-row justify-center gap-3">
      <div class="flex flex-col justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          class="iconify iconify--heroicons"
          width="32"
          height="32"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            fill-rule="evenodd"
            d="m11.54 22.351l.07.04l.028.016a.76.76 0 0 0 .723 0l.028-.015l.071-.041q.091-.053.255-.153c.217-.133.524-.33.89-.589a19.6 19.6 0 0 0 2.682-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.6 19.6 0 0 0 2.682 2.282a17 17 0 0 0 1.145.742M12 13.5a3 3 0 1 0 0-6a3 3 0 0 0 0 6"
            clip-rule="evenodd"></path></svg
        >
      </div>
      <div class="flex flex-col justify-center text-[13px]">
        <p class="font-light">Jr. Los Pinos (almacen central)</p>
        <p class="font-light">Jr. Agrarios (oficinas)</p>
        <p class="font-light">Macusani - Carabaya - Puno</p>
      </div>
    </div>
  </div>
</section>
