---
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
import PreNav from "../components/PreNav.astro";

import { ClientRouter } from "astro:transitions";

import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/500.css";
import "@fontsource/montserrat/600.css";
import "@fontsource/montserrat/700.css";
import Footer from "@/components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo-final-hydrovision.svg" />

    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="font-montserrat">
    <div transition:persist="prenav">
      <PreNav />
    </div>

    <NavBar transition:persist="prenav" />

    <slot />

    <Footer />
  </body>
</html>
